{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<style>


</style>

<body>
  {% include "_partials/_nav.html.twig" %}




</body>

{% endblock %}
{% block footer %}
{% include "_partials/_footer.html.twig" %}
{% endblock %}
