{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<style>

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 30px;
  color: white;
}

.view {
  position: relative;
  background-size: cover;
  height: 80vw;
  width: 100vw;
}

#gridCards{
  margin-right: 30px;
  margin-left: 15px;

}

</style>

<body>


  {% include "_partials/_nav.html.twig" %}

  <div class="view" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="title" data-wow-delay="0.4s"><strong>SnowTricks Community</strong></h1>
          </div>
        </div>
      </div>
  </div>

  <div class="col-md-12 py-5 ml-5 mr-5">
    <!-- Grid Start -->
    <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-3 g-2 mb-5"  id="gridCards">
      <div class="col-xxl">
        <div class="card h-100" id="cards">
          <img src="assets/img/trickshome.png" class="card-img-top sh-19" alt="card image" />
          <div class="card-body">
            <h5 class="heading mb-3">
              <a href="Pages.Blog.Detail.html" class="body-link stretched-link">
                <span class="clamp-line sh-5" data-line="2">Basic Introduction to Bread Making</span>
              </a>
            </h5>
            <div>
              <div class="row g-0">
                <div class="col-auto pe-3">
                  <i data-acorn-icon="like" class="text-primary me-1" data-acorn-size="15"></i>
                  <span class="align-middle">34</span>
                </div>
                <div class="col">
                  <i data-acorn-icon="clock" class="text-primary me-1" data-acorn-size="15"></i>
                  <span class="align-middle">15 Min</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/img/trickshome.png" class="card-img-top sh-19" alt="card image" />
          <div class="card-body">
            <h5 class="heading mb-3">
              <a href="Pages.Blog.Detail.html" class="body-link stretched-link">
                <span class="clamp-line sh-5" data-line="2">14 Facts About Sugar Products</span>
              </a>
            </h5>
            <div>
              <div class="row g-0">
                <div class="col-auto pe-3">
                  <i data-acorn-icon="like" class="text-primary me-1" data-acorn-size="15"></i>
                  <span class="align-middle">53</span>
                </div>
                <div class="col">
                  <i data-acorn-icon="clock" class="text-primary me-1" data-acorn-size="15"></i>
                  <span class="align-middle">10 Min</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/img/trickshome.png" class="card-img-top sh-19" alt="card image" />
          <div class="card-body">
            <h5 class="heading mb-3">
              <a href="Pages.Blog.Detail.html" class="body-link stretched-link">
                <span class="clamp-line sh-5" data-line="2">Apple Cake Recipe for Starters</span>
              </a>
            </h5>
            <div>
              <div class="row g-0">
                <div class="col-auto pe-3">
                  <i data-acorn-icon="like" class="text-primary me-1" data-acorn-size="15"></i>
                  <span class="align-middle">115</span>
                </div>
                <div class="col">
                  <i data-acorn-icon="clock" class="text-primary me-1" data-acorn-size="15"></i>
                  <span class="align-middle">30 Min</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/img/trickshome.png" class="card-img-top sh-19" alt="card image" />
          <div class="card-body">
            <h5 class="heading mb-3">
              <a href="Pages.Blog.Detail.html" class="body-link stretched-link">
                <span class="clamp-line sh-5" data-line="2">A Complete Guide to Mix Dough for the Molds</span>
              </a>
            </h5>
            <div>
              <div class="row g-0">
                <div class="col-auto pe-3">
                  <i data-acorn-icon="like" class="text-primary me-1" data-acorn-size="15"></i>
                  <span class="align-middle">329</span>
                </div>
                <div class="col">
                  <i data-acorn-icon="clock" class="text-primary me-1" data-acorn-size="15"></i>
                  <span class="align-middle">45 Min</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/img/trickshome.png" class="card-img-top sh-19" alt="card image" />
          <div class="card-body">
            <h5 class="heading mb-3">
              <a href="Pages.Blog.Detail.html" class="body-link stretched-link">
                <span class="clamp-line sh-5" data-line="2">10 Secrets Every Southern Baker Knows</span>
              </a>
            </h5>
            <div>
              <div class="row g-0">
                <div class="col-auto pe-3">
                  <i data-acorn-icon="like" class="text-primary me-1" data-acorn-size="15"></i>
                  <span class="align-middle">43</span>
                </div>
                <div class="col">
                  <i data-acorn-icon="clock" class="text-primary me-1" data-acorn-size="15"></i>
                  <span class="align-middle">15 Min</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/img/trickshome.png" class="card-img-top sh-19" alt="card image" />
          <div class="card-body">
            <h5 class="heading mb-3">
              <a href="Pages.Blog.Detail.html" class="body-link stretched-link">
                <span class="clamp-line sh-5" data-line="2">Recipes for Sweet and Healty Treats</span>
              </a>
            </h5>
            <div>
              <div class="row g-0">
                <div class="col-auto pe-3">
                  <i data-acorn-icon="like" class="text-primary me-1" data-acorn-size="15"></i>
                  <span class="align-middle">5</span>
                </div>
                <div class="col">
                  <i data-acorn-icon="clock" class="text-primary me-1" data-acorn-size="15"></i>
                  <span class="align-middle">10 Min</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/img/trickshome.png" class="card-img-top sh-19" alt="card image" />
          <div class="card-body">
            <h5 class="heading mb-3">
              <a href="Pages.Blog.Detail.html" class="body-link stretched-link">
                <span class="clamp-line sh-5" data-line="2">Better Ways to Mix Dough for the Molds</span>
              </a>
            </h5>
            <div>
              <div class="row g-0">
                <div class="col-auto pe-3">
                  <i data-acorn-icon="like" class="text-primary me-1" data-acorn-size="15"></i>
                  <span class="align-middle">94</span>
                </div>
                <div class="col">
                  <i data-acorn-icon="clock" class="text-primary me-1" data-acorn-size="15"></i>
                  <span class="align-middle">15 Min</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/img/trickshome.png" class="card-img-top sh-19" alt="card image" />
          <div class="card-body">
            <h5 class="heading mb-3">
              <a href="Pages.Blog.Detail.html" class="body-link stretched-link">
                <span class="clamp-line sh-5" data-line="2">Basic Introduction for Dough Molding</span>
              </a>
            </h5>
            <div>
              <div class="row g-0">
                <div class="col-auto pe-3">
                  <i data-acorn-icon="like" class="text-primary me-1" data-acorn-size="15"></i>
                  <span class="align-middle">77</span>
                </div>
                <div class="col">
                  <i data-acorn-icon="clock" class="text-primary me-1" data-acorn-size="15"></i>
                  <span class="align-middle">20 Min</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/img/trickshome.png" class="card-img-top sh-19" alt="card image" />
          <div class="card-body">
            <h5 class="heading mb-3">
              <a href="Pages.Blog.Detail.html" class="body-link stretched-link">
                <span class="clamp-line sh-5" data-line="2">A Complete Guide to Mix Dough for the Molds</span>
              </a>
            </h5>
            <div>
              <div class="row g-0">
                <div class="col-auto pe-3">
                  <i data-acorn-icon="like" class="text-primary me-1" data-acorn-size="15"></i>
                  <span class="align-middle">64</span>
                </div>
                <div class="col">
                  <i data-acorn-icon="clock" class="text-primary me-1" data-acorn-size="15"></i>
                  <span class="align-middle">15 Min</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/img/trickshome.png" class="card-img-top sh-19" alt="card image" />
          <div class="card-body">
            <h5 class="heading mb-3">
              <a href="Pages.Blog.Detail.html" class="body-link stretched-link">
                <span class="clamp-line sh-5" data-line="2">Introduction to Baking Cakes</span>
              </a>
            </h5>
            <div>
              <div class="row g-0">
                <div class="col-auto pe-3">
                  <i data-acorn-icon="like" class="text-primary me-1" data-acorn-size="15"></i>
                  <span class="align-middle">80</span>
                </div>
                <div class="col">
                  <i data-acorn-icon="clock" class="text-primary me-1" data-acorn-size="15"></i>
                  <span class="align-middle">15 Min</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/img/trickshome.png" class="card-img-top sh-19" alt="card image" />
          <div class="card-body">
            <h5 class="heading mb-3">
              <a href="Pages.Blog.Detail.html" class="body-link stretched-link">
                <span class="clamp-line sh-5" data-line="2">Apple Cake Recipe for Starters</span>
              </a>
            </h5>
            <div>
              <div class="row g-0">
                <div class="col-auto pe-3">
                  <i data-acorn-icon="like" class="text-primary me-1" data-acorn-size="15"></i>
                  <span class="align-middle">52</span>
                </div>
                <div class="col">
                  <i data-acorn-icon="clock" class="text-primary me-1" data-acorn-size="15"></i>
                  <span class="align-middle">15 Min</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/img/trickshome.png" class="card-img-top sh-19" alt="card image" />
          <div class="card-body">
            <h5 class="heading mb-3">
              <a href="Pages.Blog.Detail.html" class="body-link stretched-link">
                <span class="clamp-line sh-5" data-line="2">A Complete Guide to Mix Dough for the Molds</span>
              </a>
            </h5>
            <div>
              <div class="row g-0">
                <div class="col-auto pe-3">
                  <i data-acorn-icon="like" class="text-primary me-1" data-acorn-size="15"></i>
                  <span class="align-middle">26</span>
                </div>
                <div class="col">
                  <i data-acorn-icon="clock" class="text-primary me-1" data-acorn-size="15"></i>
                  <span class="align-middle">30 Min</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/img/trickshome.png" class="card-img-top sh-19" alt="card image" />
          <div class="card-body">
            <h5 class="heading mb-3">
              <a href="Pages.Blog.Detail.html" class="body-link stretched-link">
                <span class="clamp-line sh-5" data-line="2">Basic Introduction to Bread Making</span>
              </a>
            </h5>
            <div>
              <div class="row g-0">
                <div class="col-auto pe-3">
                  <i data-acorn-icon="like" class="text-primary me-1" data-acorn-size="15"></i>
                  <span class="align-middle">12</span>
                </div>
                <div class="col">
                  <i data-acorn-icon="clock" class="text-primary me-1" data-acorn-size="15"></i>
                  <span class="align-middle">45 Min</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/img/trickshome.png" class="card-img-top sh-19" alt="card image" />
          <div class="card-body">
            <h5 class="heading mb-3">
              <a href="Pages.Blog.Detail.html" class="body-link stretched-link">
                <span class="clamp-line sh-5" data-line="2">14 Facts About Sugar Products</span>
              </a>
            </h5>
            <div>
              <div class="row g-0">
                <div class="col-auto pe-3">
                  <i data-acorn-icon="like" class="text-primary me-1" data-acorn-size="15"></i>
                  <span class="align-middle">22</span>
                </div>
                <div class="col">
                  <i data-acorn-icon="clock" class="text-primary me-1" data-acorn-size="15"></i>
                  <span class="align-middle">10 Min</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/img/trickshome.png" class="card-img-top sh-19" alt="card image" />
          <div class="card-body">
            <h5 class="heading mb-3">
              <a href="Pages.Blog.Detail.html" class="body-link stretched-link">
                <span class="clamp-line sh-5" data-line="2">10 Secrets Every Southern Baker Knows</span>
              </a>
            </h5>
            <div>
              <div class="row g-0">
                <div class="col-auto pe-3">
                  <i data-acorn-icon="like" class="text-primary me-1" data-acorn-size="15"></i>
                  <span class="align-middle">54</span>
                </div>
                <div class="col">
                  <i data-acorn-icon="clock" class="text-primary me-1" data-acorn-size="15"></i>
                  <span class="align-middle">15 Min</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/img/trickshome.png" class="card-img-top sh-19" alt="card image" />
          <div class="card-body">
            <h5 class="heading mb-3">
              <a href="Pages.Blog.Detail.html" class="body-link stretched-link">
                <span class="clamp-line sh-5" data-line="2">Recipes for Sweet and Healty Treats</span>
              </a>
            </h5>
            <div>
              <div class="row g-0">
                <div class="col-auto pe-3">
                  <i data-acorn-icon="like" class="text-primary me-1" data-acorn-size="15"></i>
                  <span class="align-middle">108</span>
                </div>
                <div class="col">
                  <i data-acorn-icon="clock" class="text-primary me-1" data-acorn-size="15"></i>
                  <span class="align-middle">15 Min</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/img/trickshome.png" class="card-img-top sh-19" alt="card image" />
          <div class="card-body">
            <h5 class="heading mb-3">
              <a href="Pages.Blog.Detail.html" class="body-link stretched-link">
                <span class="clamp-line sh-5" data-line="2">Introduction to Baking Cakes</span>
              </a>
            </h5>
            <div>
              <div class="row g-0">
                <div class="col-auto pe-3">
                  <i data-acorn-icon="like" class="text-primary me-1" data-acorn-size="15"></i>
                  <span class="align-middle">28</span>
                </div>
                <div class="col">
                  <i data-acorn-icon="clock" class="text-primary me-1" data-acorn-size="15"></i>
                  <span class="align-middle">30 Min</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/img/trickshome.png" class="card-img-top sh-19" alt="card image" />
          <div class="card-body">
            <h5 class="heading mb-3">
              <a href="Pages.Blog.Detail.html" class="body-link stretched-link">
                <span class="clamp-line sh-5" data-line="2">Better Ways to Mix Dough for the Molds</span>
              </a>
            </h5>
            <div>
              <div class="row g-0">
                <div class="col-auto pe-3">
                  <i data-acorn-icon="like" class="text-primary me-1" data-acorn-size="15"></i>
                  <span class="align-middle">16</span>
                </div>
                <div class="col">
                  <i data-acorn-icon="clock" class="text-primary me-1" data-acorn-size="15"></i>
                  <span class="align-middle">20 Min</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Grid End -->

    <div class="row">
      <div class="col-12 text-center">
        <button class="btn btn-xl btn-outline-primary sw-30">Load More</button>
      </div>
    </div>
  </div>



</body>
{% endblock %}
{% block footer %}
{% include "_partials/_footer.html.twig" %}
{% endblock %}
